# Core dependencies
llama-cpp-python
torch==2.0.1
langchain
langchain_community
langchain_core
transformers
huggingface_hub

# API clients
openai
anthropic
google-generativeai

# Web interface
streamlit

# Database
chromadb

# Web search and parsing
beautifulsoup4
googlesearch-python
wikipedia
requests
bs4

# Utilities
python-dotenv
gpt4all
